code/Class08_IntroToLLM/LAB 8_2 RAG Chatbot.json
{
  "name": "LAB 2 RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1952,
        208
      ],
      "id": "7e8f6c83-4c1b-4f47-a66d-0ab5b8297c95",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -16
      ],
      "typeVersion": 1,
      "id": "8384486d-571b-44cc-a584-7d5f1f0a5310",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1712,
        48
      ],
      "id": "13203b51-2eb6-429a-a717-ccc8bc1f8837",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        2576,
        336
      ],
      "id": "8daf2b7d-29e7-48b6-9a03-7ffb61b9135c",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        -16
      ],
      "typeVersion": 1,
      "id": "e4a8d771-6e91-4a0b-b6d9-678fdab00d68",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Role: Medical education assistant for students.\n\nYou have access to a “Query Data Tool” that retrieves text from the uploaded document.\n\nRules:\n\nFor any question that might be answered from the uploaded document, you MUST call Query Data Tool before answering.\n\nBase your answer only on retrieved text. If retrieval returns nothing relevant, say the document doesn’t cover it.\n\nOutput format:\n\nKey points (bullets)\n\nEvidence (2–4 short snippets from retrieved text)\n\nSafety:\n\nNo diagnosis, prescribing, or patient-specific treatment plans.\n\nIf the user asks for personal medical advice, recommend consulting a clinician.",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2592,
        32
      ],
      "id": "b565e847-1325-4b82-aadb-fb58b3b0cb4f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2336,
        224
      ],
      "id": "33c8e84b-60cc-4288-b54d-93c650703755",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dGjoxz2wfHMFdXvG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        528
      ],
      "id": "0026de68-a676-44a8-94bb-e02b9b28a52a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dGjoxz2wfHMFdXvG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4050cd1b-dc07-4ed4-9b3c-44db9465ddc7",
              "leftValue": "={{ Object.keys($binary || {}).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ffdceb48-0f57-4698-bd40-6107ab1c5cd4",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2544,
        -288
      ],
      "id": "c24d6fef-85d2-4942-af98-3e100569e969",
      "name": "If"
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        496
      ],
      "typeVersion": 1,
      "id": "b38f2025-c51c-4ecd-aa32-bb4eebbedf6d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -16
      ],
      "typeVersion": 1,
      "id": "d0911e82-16f3-4115-9ccd-7baeec06f052",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2544,
        224
      ],
      "id": "5dd6289b-01c9-4cbe-ab35-cab35a3161fa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2352,
        32
      ],
      "id": "d8690a62-5e45-480d-a155-92c8c3ae3504",
      "name": "When chat message received",
      "webhookId": "3b07e15e-c77a-4e11-9adb-feba4e3cc1bd"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2992,
        32
      ],
      "id": "bc057163-dae3-4f66-8550-aa0441d5e59c",
      "name": "Respond to Chat1"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Data to Store": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7824ca8f-256c-48b3-bbbc-144439403648",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b34d74512c1a7931087c9f927da5f5652a2f40604bceec16a07ea60ca2adf1e"
  },
  "id": "2JOSYWmUHl99fbfS",
  "tags": []
}